<div class="container">
    <!-- <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header> -->
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="logo" src="../../../../assets/imgs/logo.png" alt="logo.png">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 menu">
            <ng-container *ngFor="let item of navItems" class="d-flex">
                <li *ngIf="item.children; else nonDropdown" class="nav-item menu-item">
                    <a class="nav-link link-dark" href="#" role="button" aria-expanded="false">{{item.name}}</a>
                        <ul class="drop-menu">
                            <ng-container *ngFor = "let child of item.children">
                                <li class="nav-item drop-menu-item"><a routerLinkActive="active" class="dropdown-item " aria-labelledby="dropdownUser1" href="#">{{child.name}}</a></li>
                            </ng-container>
                        </ul>
                </li>
                <ng-template #nonDropdown>
                    <li  class="nav-item">
                        <a routerLink="/{{item.link}}" routerLinkActive="active"
                            class="nav-link link-dark px-2">{{item.name}}</a>
                    </li>
                </ng-template>
            </ng-container>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn me-2 nav--login">Login</button>
            <button type="button" class="btn">Sign-up</button>
        </div>
    </header>
</div>