<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="logo" src="../../../../assets/imgs/logo.png" alt="logo.png">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 menu">
            <ng-container *ngFor="let item of navItems" class="d-flex">
                <li *ngIf="item.children; else nonDropdown" class="nav-item menu-item">
                    <a routerLink="{{item.link}}" routerLinkActive="active-link" class="nav-link link-dark" role="button" aria-expanded="false">{{item.name}}</a>
                        <ul class="drop-menu">
                            <ng-container *ngFor = "let child of item.children">
                                <li class="nav-item drop-menu-item"><a routerLinkActive="active-link" class="dropdown-item " aria-labelledby="dropdownUser1" routerLink="/{{child.link}}">{{child.name}}</a></li>
                            </ng-container>
                    </ul>
                </li>
                <ng-template #nonDropdown>
                    <li  class="nav-item">
                        <a routerLinkActive="active-link" routerLink="/{{item.link}}"
                            class="nav-link link-dark px-2">{{item.name}}</a>
                    </li>
                </ng-template>
            </ng-container>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn me-2 nav--login">Login</button>
            <button type="button" class="btn">Sign-up</button>
        </div>
    </header>