<section class="pt-4">
    <h2 class="title text--green mb-4 text-center">Who we are</h2>

    <article class="pb-3">
        <h3>Mboalab</h3>
        <p class="description">
            MboaLab is an open and collaborative space located in the village of Mefou-Assi, Yaoundé, Cameroon. The word “Mboa'' has different meanings in native Cameroonian languages: in Matakam, it means “new”; in Ewondo, it means
            “unique”; in Duala, it means “village”. Literally translated, MboaLab is a unifying village dedicated to creation; even
            better, it is a laboratory for social innovation, community education, collaboration and mediation at the service of the community.
        </p>
    </article>

    <article class="pb-3">
        <h3>Aim and missions</h3>
        <p class="description">
            The aim of MboaLab is to catalyse sustainable local development and improve people’s living conditions
            through
            open
            science. To this end, the main missions of Mboalab are as follows:
        </p>
        <ul class="description">
            <li>provide community and lifelong education for the population, as well as formal education for the younger
                generations;
            </li>
            <li>serve as a platform for exchanges on issues related to local context;
            </li>
            <li>mediate between local communities and academia;
            </li>
            <li>propose solutions that meet the needs of communities, using local knowledge and open digital
                technologies;
            </li>
            <li>raise public awareness of environmental issues;
            </li>
            <li>facilitate access to basic health care.
            </li>
        </ul>
    </article>

    <article class="pb-3">
        <h3>Our vision of sustainable local development</h3>
        <p class="description">We advocate for the character of a local development, which is conferred by the imperative to have it emerge
            from
            the
            communities themselves; this is what ensures its relevance and sustainability. In other words, sustainable
            local
            development needs to be thought of by and for the members of a given community. To do so, it is important to
            break
            the unenthusiastic spirit that exists among many Cameroonians, by training healthy, educated citizens
            capable of
            critical thinking on issues related to their immediate environment. By choosing education and health as
            priority
            axes, associated with its role as a mediator between Science-Technologies-Societies; we can say clearly that
            Mboalab
            could be a powerful catalyst for local sustainable development.
        </p>
    </article>

    <article class="pb-3">
        <h3>Mboalab Biotech and its role in the achievement of our mission.
        </h3>
        <p class="description">Mboalab Biotech is a node of the Open Bioeconomy Lab hosted in MboaLab space. Established in 2018, the lab
            currently
            runs a number of projects amongst which is the open enzyme manufacturing project. At its core, our work in
            MboaLab
            Biotech is focused on making biotechnology research and tools more accessible to labs around the world
            through
            scientific research and development and local production of reagents. We are committed to the development of
            open
            educational resources as well as simple and cost-effective protocols that can be applied in resource-limited
            laboratories. We also provide scientific research projects targeting local health issues, internships
            opportunities,
            and training sessions to young local scientists in order to equip them with molecular biology and DIY-
            Biology
            skills, and prepare them for employment.
        </p>
    </article>
</section>

<section class="pt-4 our-team text-center">
    <h2 class="title text--green mb-4">Our Team</h2>

    <h4 class="pb-3 text-left">Founders</h4>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Thomas Mboa</h5>
                <p class="card-text">Managing Director</p>
                <p class="card-text"><small class="text-muted">Thomas Mboa is currently Lecturer at the Advanced
                        School of Mass Communication, University of Yaoundé II, Cameroon. </small></p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Stephane Fadanka</h5>
                <p class="card-text">Product Manager</p>
                <p class="card-text"><small class="text-muted">Stephane is an early career researcher based at the
                        MboaLab. With an MSc in Molecular Biotechnology.</small></p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Nadine</h5>
                <p class="card-text">Quality Manager</p>
                <p class="card-text"><small class="text-muted">Nadine has a background in Microbiology and Medical
                        Laboratory Technology (BSc). </small></p>
            </div>
        </div>
    </div>
    
</section>
<!-- <hr class="mt-2 mb-2"> -->
<section class="pt-4 our-advisors text-center">
    <h4 class="title text--green mb-4">Organization chart of Mboalab Biotech</h4>
    <div class="row text-center mt-4">
        <div class="col-md-3 col-sm-3">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Thomas Mboa</h5>
                <p class="card-text">Managing Director</p>
                <p class="card-text"><small class="text-muted">Thomas Mboa is currently Lecturer at the Advanced
                        School of Mass Communication, University of Yaoundé II, Cameroon. </small></p>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Stephane Fadanka</h5>
                <p class="card-text">Product Manager</p>
                <p class="card-text"><small class="text-muted">Stephane is an early career researcher based at the
                        MboaLab. With an MSc in Molecular Biotechnology.</small></p>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Nadine</h5>
                <p class="card-text">Quality Manager</p>
                <p class="card-text"><small class="text-muted">Nadine has a background in Microbiology and Medical
                        Laboratory Technology (BSc). </small></p>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Nadine</h5>
                <p class="card-text">Quality Manager</p>
                <p class="card-text"><small class="text-muted">Nadine has a background in Microbiology and Medical
                        Laboratory Technology (BSc). </small></p>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Nadine</h5>
                <p class="card-text">Quality Manager</p>
                <p class="card-text"><small class="text-muted">Nadine has a background in Microbiology and Medical
                        Laboratory Technology (BSc). </small></p>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Nadine</h5>
                <p class="card-text">Quality Manager</p>
                <p class="card-text"><small class="text-muted">Nadine has a background in Microbiology and Medical
                        Laboratory Technology (BSc). </small></p>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Nadine</h5>
                <p class="card-text">Quality Manager</p>
                <p class="card-text"><small class="text-muted">Nadine has a background in Microbiology and Medical
                        Laboratory Technology (BSc). </small></p>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <app-circle></app-circle>
            <div class="card-body">
                <h5 class="card-title">Nadine</h5>
                <p class="card-text">Quality Manager</p>
                <p class="card-text"><small class="text-muted">Nadine has a background in Microbiology and Medical
                        Laboratory Technology (BSc). </small></p>
            </div>
        </div>
    </div>
</section>

<section class="pt-4 pb-4 our-partners text-center">
    <h2 class="title text--green mb-4">Our partners</h2>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <logo-beneficial-bio></logo-beneficial-bio>
        </div>

        <div class="col-md-3 col-sm-3">
            <logo-lightback></logo-lightback>
        </div>

        <div class="col-md-3 col-sm-3">
            <logo-open-society></logo-open-society>
        </div>

        <div class="col-md-3 col-sm-3">
            <logo-shutterworth></logo-shutterworth>
        </div>
    </div>
</section>