footer {
    background-color: var(--main-color);
    color: white;
}

.nav .nav-item .nav-link{
    color: rgba($color: #fff, $alpha: .7);
}

.btn {
    color: var(--main-color);
    background-color: #fff;
}