/* global styles and also import other style files in this file */
// @import url("./assets/css/reset.css");

:root {
  --main-color: #030202d2;
  --main-light-color: #000000b4;
  --font: "Montserrat";
}